*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}
.clicked{
  background-color: #d308c9;
}
.sent{
  float: right;
  background-color:#D5F9BA !important;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  background: rgb(218,219,211);
  background: linear-gradient(0deg, rgba(218,219,211,1) 80%, rgba(0,150,136,1) 80%, rgba(0,150,136,1) 100%); 
  background-repeat: no-repeat;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 95%;
}
/* side container rules */
.side-container{
  height: 100%;
  background-color: white;
  width: 30%;
  max-width: 450px;
  min-width: 340px;
  border: 1px solid #D5D5D4;
}
.utility{
  display: flex;
  flex-direction: column;
}
.user img{
  margin-left: 10px;
  width: 40px;
  border-radius: 50%;
}
.user {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  background-color: #EAEAEA;
}

.user span:nth-last-child(1){
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}
.user span i{
  color: #B1B1B1;
  margin: 0 5px;
  cursor: pointer;
}
/* /////////////// */
.notice{
  height: 60px;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}
.notice i{
  background-color: #F2FBFF;
  color: #8EDAFC;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-left:15px;
}
.notice p{
  font-weight: 600;
  font-size: 13px;
  margin-left: 5px;
}
.notice span{
  font-size: 12px;
  margin-left: 5px;
  color: #8a8989;
  text-decoration: underline;
  cursor: pointer;
}

/* ///////// */
.search-container{
  width: 100%;
  height: 40px;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  display: flex;
  align-items: center;
  width: 95%;
  height: 80%;
  background-color: white;
  border: .5px solid #F4F4F4;
}
.search-bar button{
  background-color: white;
  border: none;
  width: 20%;
  cursor: pointer;
}
.search-bar input.search{
  width:80%;
  border: none;
}

/* dynamically set contacts */
section.fix{
  overflow-y: auto;
  max-height: calc(100% - 150px);
}
.all-contacts{
  /*DA SISTEMARE L'OVERFLOW*/
  position: relative;
  display: flex;
  flex-direction: column;
}
.contact{ 
  padding: 5px 0;
  display: flex;
  border: 1px solid #EAEAEA;
  cursor: pointer;
}
.contact:hover{
  background-color: #ddd9d9c9;
}
.contact img{
  width: 50px;
  border-radius: 50%;
  margin-left: 15px;
}
.contact div{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.contact h4, .main-avatar h4{
  font-weight: 600;
}
.contact p, .main-avatar p{
  color: #8A8F91;
  font-size: 14px;
}
.contact span{
  position: absolute;
  right: 5px;
  color: #8A8F91;
  font-size: 12px;
  font-weight: 600;
}

/* ////side container rules////// */

/* container ruless */
.container{
  background-color: white;
  width: 50%;
  height: 100%;
  max-width: 750px;
  min-width: 550px;
  border: 1px solid #D5D5D4;
}
.main-avatar {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  background-color: #EAEAEA;
}
.main-avatar img{
  margin-left: 10px;
  width: 40px;
  border-radius: 50%;
}
.main-avatar div{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.main-avatar span{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}
.main-avatar span i{
  color: #B1B1B1;
  margin: 0 5px;
  cursor: pointer;
}
/* main chat */

.main-chat{
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 100px);
  background-image: url(/img/mine.jpg);
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.message{
  margin-top: 8px;
  margin-bottom: 15px;
}
.message span:first-child{
  position: relative;
  background-color: #FFFF;
  padding: 15px;
  padding-right: 60px;
  border-radius: 5px;
}
span p{
  color: #B1B1B1;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

/* bottom-chat-bar */

.bottom-chat-bar{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F3EEEA;
  font-size: 20px;
  text-align: center;
}
.bottom-chat-bar span{
  color: #6B7376;
  cursor: pointer;
  width: 50px;
}
.bottom-chat-bar input{
  width: calc(100% - 100px);
  padding-left: 10px;
  border: none;
  height: 80%;
  border-radius: 5px;
}