*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  background: rgb(218,219,211);
  background: linear-gradient(0deg, rgba(218,219,211,1) 80%, rgba(0,150,136,1) 80%, rgba(0,150,136,1) 100%); 
  background-repeat: no-repeat;
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 95%;
}
/* side container rules */
.side-container{
  height: 100%;
  background-color: white;
  width: 30%;
  max-width: 450px;
  min-width: 340px;
  border: 1px solid #D5D5D4;
}
.utility{
  display: flex;
  flex-direction: column;
}
.user img{
  width: 40px;
  border-radius: 50%;
}
.user {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  background-color: #EAEAEA;
}
.user div:first-child{
  display: flex;
}
.user span:nth-last-child(1){
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}
.user span i{
  color: #B1B1B1;
  margin: 0 5px;
  cursor: pointer;
}
/* /////////////// */
.notice{
  height: 60px;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}
.notice i{
  background-color: #F2FBFF;
  color: #8EDAFC;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-left:15px;
}
.notice p{
  font-weight: 600;
  font-size: 13px;
  margin-left: 5px;
}
.notice span{
  font-size: 12px;
  margin-left: 5px;
  color: #8a8989;
  text-decoration: underline;
  cursor: pointer;
}
.notice div:first-child{
  display: flex;
}
/* ///////// */
.search-container{
  width: 100%;
  height: 40px;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  display: flex;
  align-items: center;
  width: 95%;
  height: 80%;
  background-color: white;
  border: .5px solid #F4F4F4;
}
.search-bar button{
  background-color: white;
  border: none;
  width: 20%;
  cursor: pointer;
}
.search-bar input.search{
  width:80%;
  border: none;
}

/* dynamically set contacts */

.all-contacts{
  overflow-y: auto; /*DA SISTEMARE L'OVERFLOW*/
  position: relative;
  display: flex;
  flex-direction: column;
}
.contact{
  padding: 5px 0;
  display: flex;
  background-color: white;
  border: 1px solid #EAEAEA;
  cursor: pointer;
}
.contact img{
  width: 50px;
  border-radius: 50%;
  margin-left: 15px;
}
.contact div{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.contact h4{
  font-weight: 600;
}
.contact p{
  color: #B1B1B1;
  font-size: 14px;
}
.contact span{
  position: absolute;
  right: 5px;
  color: #B1B1B1;
  font-size: 12px;
  font-weight: 600;
}

/* ////side container rules////// */










/* container ruless */
.container{
  background-color: white;
  width: 50%;
  max-width: 750px;
  min-width: 550px;
  border: 1px solid #D5D5D4;
}